<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestCRUD" parallel="classes" thread-count="10">
    <test name="CopyUpdateDeleteTest">
        <classes>
            <class name="tests.CopyUpdateDeleteTest">
            </class>
        </classes>
    </test>
    <test name="AddTest">
        <classes>
            <class name="tests.AddTest">
            </class>
        </classes>
    </test>

</suite>
